


 label{
color:green;
text-shadow:none;
}

.colon {
	float:right;
	padding-right: 5px;
	font-size:16px;
	font-weight:bold;
}
button{
	color:#FFFFFF;
}
.button-qsr {
	color:#FFFFFF;
	background:gray;
	width:120px;
	height:40px;
	border-radius: 7px 7px 7px 7px;
}

.register .lspan{
width:40%;
height:25px;
float: left;
text-align:rignt !important;
padding-top: 15px;
}

.register .rspan{
width:60%;
height:40px;
float: right;
}
.register  .submit img{
margin-top:10px !important;
}

.menu label{
	color:green;
	font-size:16px;
	display:block;
	margin-bottom:5px;
	}
	.menu img{
	display:block;
	margin-bottom:20px;
	}
	.menu .firstOption{
	margin-top:25px;
	}
	.ok-remind .btnOk{
	margin-top:20px;
	}

 .menu_name{
     background: url('../images/option-btn-bg.png');
     background-repeat:no-repeat;
     background-position:center;
     padding:10px;
 }
 .favourite-option {
 	color:white !important;
 	font-weight: bold;
 	font-size:14px;
 	padding-top:15px;
 	text-shadow:none;
 }
 .menu_name label{
     height: 100%;padding:5px;color:white !important;font-weight: bold;
 }




